{% extends "layout.html" %}
{% block body %}
{% set classes = ['Bard', 'Beastlord', 'Cleric', 'Druid', 'Enchanter', 'Magician', 'Monk', 'Necromancer', 
				  'Paladin', 'Ranger', 'Rogue', 'Shadow Knight', 'Shaman', 'Warrior', 'Wizard'] %}
{% set races = ['Barbarian', 'Dark Elf', 'Drakkin', 'Dwarf', 'Erudite', 'Froglok', 'Gnome', 'Half Elf',
				'Halfling', 'High Elf', 'Human', 'Iksar', 'Ogre', 'Troll', 'Vah Shir', 'Wood Elf'] %}
<h4>Upload Character File</h4>
<form action="{{ url_for('upload_character') }}" method=post enctype="multipart/form-data">
 <dt>Enter the character name.</dt>
 <textarea class="nameentry" name="character_name"></textarea><br>
 <dt>Enter the character class.</dt>
 <select name="character_class">
  <option selected="selected" value="None"><--Select Class--></option>
  {% for entry in classes %}
   <option value="{{entry}}">{{entry}}</option>
  {% endfor %}
 </select>
 <dt>Enter the character race.</dt>
 <select name="character_race">
  <option selected="selected" value="None"><--Select Race--></option>
  {% for entry in races %}
   <option value="{{entry}}">{{entry}}</option>
  {% endfor %}
 </select>
 <dt>(OPTIONAL) Select a Character Inventory dump file OR cut and paste the contents of the character inventory file.  File will be used if both are supplied.</dt>
 <input type="file" name="character_file">
 <br>
 <textarea class="noteentry" name="character_data"></textarea><br>
 <input type="submit" value="Upload Character">
</form>
{% endblock %}