{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function() {
	$('#areas').DataTable({
		"dom": '<"pull-left"f><"pull-right"l>t<"pull-right"i><"pull-left"p>',
		"fnDrawCallback": function(oSettings) {
			$("era_raid_id").prop('checked', false);
		}
	});
} );
</script>
<h4>Select Area to Modify</h4>
<form action="{{ url_for('admin_areas') }}" method="post" class="add-entry">
<select name="era" id="era" onchange="this.form.submit()">
 {% for key in eras %}
  {% if key.name == era %}
   <option selected="selected" value="{{key.name}}">{{key.abbr}}</option>
  {% else %}
   <option value="{{key.name}}">{{key.abbr}}</option>
  {% endif %}
 {% endfor %}
</select>
</form>
<form action="{{ url_for('admin_areas')}}" method="post" class="add-entry">
 <table class="table-bordered" id="areas">
  <thead>
   <th>Select</th>
   <th>Area</th>
   <th>Allakhazam ID</th>
  </thead>
  {% for entry in areas %}
   <tr>
    <td><input type="radio" name="select_area" value="{{entry.id}}"></td>
	<td>{{entry.name}}</td>
	<td>{{entry.alla}}</td>
   </tr>
  {% endfor %}
 </table>
 <br><br>
 <hr align="left" width="100%">
 <h4>Modification Options</h4>
 <dt>Select a new Era to associate this area
 <dd><select name="new_era" id="new_era">
  {% for key in eras %}
   <option value="{{key.id}}">{{key.abbr}}</option>
  {% endfor %}
 </select>
 <dt>Select this to 'cascade' Era changes.  This will change any source or item that is associated with this area to the new era as well.
 <dd><input type="checkbox" name="cascade" value="True">
 <dt>Enter new Area Name:
 <dd><textarea name="new_name" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea>
 <dt>Enter new Area Allakhazam ID:
 <dd><textarea name="new_alla" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea>
 <dt>WARNING: Deleting this area will delete all Sources and Items associated with it.  Be ABSOLUTELY CERTAIN you want to delete this area before checking this box!
 <dt>Delete this Area
 <dd><input type="checkbox" name="delete" value="True">
 <dd><input type="submit" value="Change Area">
</form>
{% endblock %}