{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function() {
	$('#eras').DataTable({
		"dom": '<"pull-left"f><"pull-right"l>t<"pull-right"i><"pull-left"p>',
		"fnDrawCallback": function(oSettings) {
			$("era_raid_id").prop('checked', false);
		}
	});
} );
</script>
<h4>Select Era to Modify</h4>
<form action="{{ url_for('admin_modify_era')}}" method="post" class="add-entry">
 <table class="table-bordered" id="eras">
  <thead>
   <th>Select</th>
   <th>Era</th>
   <th>Abbreviation</th>
  </thead>
  {% for entry in eras %}
   <tr>
    <td><input type="radio" name="eid" value="{{entry.eid}}"></td>
	<td>{{entry.name}}</td>
	<td>{{entry.abbr}}</td>
   </tr>
  {% endfor %}
 </table>
 <br><br>
 <hr align="left" width="100%">
 <h4>Modification Options</h4>
 <dt>Enter new Era Name:
 <dd><textarea name="name" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea>
 <dt>Enter new Era Abbreviation:
 <dd><textarea name="abbr" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea>
 <dd><input type="submit" value="Change Era">
</form>
{% endblock %}