{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function() {
	$('#sources').DataTable({
		"order": [[1, "asc"], [2, "asc"]],
		"dom": '<"pull-left"f><"pull-right"l>t<"pull-right"i><"pull-left"p>',
		"fnDrawCallback": function(oSettings) {
			$("era_raid_id").prop('checked', false);
		}
	});
} );
</script>
<h4>Select Source to Modify</h4>
<form action="{{ url_for('admin_sources') }}" method="post" class="add-entry">
<select name="era" id="era" onchange="this.form.submit()">
 {% for key in eras %}
  {% if key.name == era %}
   <option selected="selected" value="{{key.name}}">{{key.abbr}}</option>
  {% else %}
   <option value="{{key.name}}">{{key.abbr}}</option>
  {% endif %}
 {% endfor %}
</select>
</form>
<form action="{{ url_for('admin_sources')}}" method="post" class="add-entry">
 <table class="table-bordered" id="sources">
  <thead>
   <th>Select</th>
   <th>Area</th>
   <th>Source</th>
   <th>Event?</th>
   <th>Allakhazam ID</th>
   <th>Allakhazam Link</th>
  </thead>
  {% for entry in sources %}
   <tr>
    <td><input type="radio" name="select_source" value="{{entry.id}}"></td>
	<td>{{entry.area}}</td>
	<td>{{entry.name}}</td>
	<td>{{entry.is_event}}</td>
	<td>{{entry.alla}}</td>
	{% if entry.is_event and entry.alla %}
	 <td><a href="http://everquest.allakhazam.com/db/quest.html?quest={{entry.alla}}">Link</td>
	{% elif not entry.is_event and entry.alla %}
	 <td><a href="http://everquest.allakhazam.com/db/npc.html?id={{entry.alla}}">Link</td>
	{% else %}
	 <td>No Link</td>
	{% endif %}
   </tr>
  {% endfor %}
 </table>
 <br><br>
 <hr align="left" width="100%">
 <h4>Modification Options</h4>
 <table>
  <tr>
   <td>Select a new Era to associate this Source</td>
   <td><select name="new_era" id="new_era">
    <option value="None" selected="selected">-- Select --</option>
    {% for key in eras %}
     <option value="{{key.id}}">{{key.abbr}}</option>
    {% endfor %}
   </select></td>
  </tr>
  <tr>
   <td>Select this to 'cascade' Era changes</td>
   <td><input type="checkbox" name="cascade" value="True"></td>
  </tr>
  <tr>
   <td>Enter new Source Name:</td>
   <td><textarea name="new_name" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea></td>
  </tr>
  <tr>
   <td>Enter new Source Allakhazam ID:</td>
   <td><textarea name="new_alla" class="nameentry" onkeydown = "return (event.keyCode!=13);"></textarea></td>
  </tr>
  <tr>
   <td colspan="2">WARNING: Deleting this Source will delete all Items associated with it.</td>
  </tr>
  <tr>
   <td>Delete this Source</td>
   <td><input type="checkbox" name="delete" value="True"></td>
  </tr>
 </table>
 <input type="submit" value="Change Source">
</form>
{% endblock %}