{% extends "layout.html" %}
{% block body %}
<style>
    .item-card {
        border: 1px solid transparent;
        border-collapse: collapse;

    }

    .item-card td, item-card th {
        border: 1px solid transparent;
        vertical-align: top;
        padding-top: 1px;
    }

    td > table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    td > table td {
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
    }
</style>
<script>
//If parent option is changed
function configureDropDownLists(ddl1, ddl2) {
//let's create arrays
	var Classic = [
		{display: "--No Exact Zone--", value: "None"},
        {display: "Accursed Temple of CazicThule", value: "48" },
        {display: "Ak'Anon", value: "55" },
        {display: "Befallen", value: "36" },
        {display: "Blackburrow", value: "17" },
        {display: "Butcherblock Mountains", value: "68" },
        {display: "Crushbone", value: "58" },
        {display: "Dagnor's Cauldron", value: "70" },
        {display: "East Commonlands", value: "22" },
        {display: "East Freeport", value: "10" },
        {display: "Eastern Plains of Karana", value: "15" },
        {display: "Erud's Crossing", value: "98" },
        {display: "Erudin", value: "24" },
        {display: "Everfrost Peaks", value: "30" },
        {display: "Gorge of King Xorbb", value: "16" },
        {display: "Grobb", value: "52" },
        {display: "Halas", value: "29" },
        {display: "High Keep", value: "6" },
        {display: "Highpass Hold", value: "5" },
        {display: "Innothule Swamp", value: "46" },
        {display: "Kedge Keep", value: "64" },
        {display: "Kerra Isle", value: "74" },
        {display: "Kithicor Forest", value: "20" },
        {display: "Lake Rathetear", value: "51" },
        {display: "Misty Thicket", value: "33" },
        {display: "Nagafen's Lair", value: "32" },
        {display: "Najena", value: "44" },
        {display: "Nedaria's Landing", value: "182" },
        {display: "Neriak - 3rd Gate", value: "42" },
        {display: "Neriak - Commons", value: "41" },
        {display: "Neriak - Foreign Quarter", value: "40" },
        {display: "North Freeport", value: "8" },
        {display: "North Kaladim", value: "67" },
        {display: "North Qeynos", value: "2" },
        {display: "Northern Desert of Ro", value: "34" },
        {display: "Northern Felwithe", value: "61" },
        {display: "Oasis of Marr", value: "37" },
        {display: "Ocean of Tears", value: "69" },
        {display: "Oggok", value: "49" },
        {display: "Paineel", value: "75" },
        {display: "Plane of Hate", value: "76" },
        {display: "Rivervale", value: "19" },
        {display: "Shadowrest", value: "187" },
        {display: "Solusek's Eye", value: "31" },
        {display: "South Kaladim", value: "60" },
        {display: "South Qeynos", value: "1" },
        {display: "Southern Desert of Ro", value: "35" },
        {display: "Southern Felwithe", value: "62" },
        {display: "Steamfont Mountains", value: "56" },
        {display: "Sunset Home", value: "26" },
        {display: "The Arena", value: "77" },
        {display: "The Castle of Mistmoore", value: "59" },
        {display: "The City of Guk", value: "65" },
        {display: "The Erudin Palace", value: "23" },
        {display: "The Estate of Unrest", value: "63" },
        {display: "The Feerrott", value: "47" },
        {display: "The Greater Faydark", value: "54" },
        {display: "The Hole", value: "39" },
        {display: "The Jaggedpine Forest", value: "181" },
        {display: "The Lair of the Splitpaw", value: "18" },
        {display: "The Lavastorm Mountains", value: "27" },
        {display: "The Lesser Faydark", value: "57" },
        {display: "The Liberated Citadel of Runnyeye", value: "11" },
        {display: "The Mines of Gloomingdeep", value: "188" },
        {display: "The Mines of Gloomingdeep", value: "189" },
        {display: "The Northern Plains of Karana", value: "13" },
        {display: "The Permafrost Caverns", value: "73" },
        {display: "The Plane of Fear", value: "72" },
        {display: "The Plane of Hate", value: "186" },
        {display: "The Plane of Sky", value: "71" },
        {display: "The Qeynos Aqueduct System", value: "45" },
        {display: "The Qeynos Hills", value: "4" },
        {display: "The Rathe Mountains", value: "50" },
        {display: "The Ruins of Old Guk", value: "66" },
        {display: "The Southern Plains of Karana", value: "14" },
        {display: "The Surefall Glade", value: "3" },
        {display: "The Western Plains of Karana", value: "12" },
        {display: "Toxxulia Forest", value: "38" },
        {display: "West Commonlands", value: "21" },
        {display: "West Freeport", value: "9" },
    ];
    var Kunark = [{display: "--No Exact Zone--", value: "None"},
        {display: "Cabilis East", value: "106" },
        {display: "Cabilis West", value: "82" },
        {display: "Chardok", value: "103" },
        {display: "Firiona Vie", value: "84" },
        {display: "Frontier Mountains", value: "92" },
        {display: "Kaesora", value: "88" },
        {display: "Karnor's Castle", value: "102" },
        {display: "Kurn's Tower", value: "97" },
        {display: "Lake of Ill Omen", value: "85" },
        {display: "The Burning Wood", value: "87" },
        {display: "The City of Mist", value: "90" },
        {display: "The Crypt of Dalnir", value: "104" },
        {display: "The Dreadlands", value: "86" },
        {display: "The Emerald Jungle", value: "94" },
        {display: "The Field of Bone", value: "78" },
        {display: "The Howling Stones", value: "105" },
        {display: "The Mines of Nurga", value: "107" },
        {display: "The Nektulos Forest", value: "25" },
        {display: "The Overthere", value: "93" },
        {display: "The Ruins of Sebilis", value: "89" },
        {display: "The Skyfire Mountains", value: "91" },
        {display: "The Swamp of No Hope", value: "83" },
        {display: "The Temple of Droga", value: "81" },
        {display: "The Temple of Solusek Ro", value: "80" },
        {display: "The Warsliks Woods", value: "79" },
        {display: "Timorous Deep", value: "96" },
        {display: "Trakanon's Teeth", value: "95" },
        {display: "Veeshan's Peak", value: "108" },
    ];
    var Velious = [{display: "--No Exact Zone--", value: "None"},
        {display: "Cobaltscar", value: "117" },
        {display: "Dragon Necropolis", value: "123" },
        {display: "Eastern Wastes", value: "116" },
        {display: "Icewell Keep", value: "129" },
        {display: "Kael Drakkel", value: "113" },
        {display: "Siren's Grotto", value: "125" },
        {display: "Skyshrine", value: "114" },
        {display: "The City of Thurgadin", value: "115" },
        {display: "The Crystal Caverns", value: "121" },
        {display: "The Great Divide", value: "118" },
        {display: "The Iceclad Ocean", value: "110" },
        {display: "The Plane of Growth", value: "127" },
        {display: "The Plane of Mischief", value: "126" },
        {display: "The Sleeper's Tomb", value: "128" },
        {display: "The Stonebrunt Mountains", value: "100" },
        {display: "The Temple of Veeshan", value: "124" },
        {display: "The Tower of Frozen Shadow", value: "111" },
        {display: "The Wakening Land", value: "119" },
        {display: "The Warrens", value: "101" },
        {display: "The Western Wastes", value: "120" },
        {display: "Veksar", value: "109" },
        {display: "Velketor's Labyrinth", value: "112" },
    ];
    var Luclin = [{display: "--No Exact Zone--", value: "None"},
        {display: "Grieg's End", value: "163" },
        {display: "Grimling Forest", value: "167" },
        {display: "Hollowshade Moor", value: "166" },
        {display: "Katta Castellum", value: "160" },
        {display: "Marus Seru", value: "168" },
        {display: "Mons Letalis", value: "169" },
        {display: "Netherbian Lair", value: "161" },
        {display: "Nexus", value: "152" },
        {display: "Sanctus Seru", value: "159" },
        {display: "Shadeweaver's Thicket", value: "165" },
        {display: "Shadow Haven", value: "150" },
        {display: "Ssraeshza Temple", value: "162" },
        {display: "The Acrylia Caverns", value: "154" },
        {display: "The Akheva Ruins", value: "179" },
        {display: "The Bazaar", value: "151" },
        {display: "The City of Shar Vahl", value: "155" },
        {display: "The Dawnshroud Peaks", value: "174" },
        {display: "The Deep", value: "164" },
        {display: "The Echo Caverns", value: "153" },
        {display: "The Fungus Grove", value: "157" },
        {display: "The Grey", value: "171" },
        {display: "The Maiden's Eye", value: "173" },
        {display: "The Paludal Caverns", value: "156" },
        {display: "The Scarlet Desert", value: "175" },
        {display: "The Tenebrous Mountains", value: "172" },
        {display: "The Twilight Sea", value: "170" },
        {display: "The Umbral Plains", value: "176" },
        {display: "Vex Thal", value: "158" },
    ];
    var Planes = [{display: "--No Exact Zone--", value: "None"},
        {display: "Bastion of Thunder", value: "209" },
        {display: "Drunder, the Fortress of Zek", value: "214" },
        {display: "Plane of War", value: "213" },
        {display: "The Crypt of Decay", value: "200" },
        {display: "The Halls of Honor", value: "211" },
        {display: "The Lair of Terris Thule", value: "221" },
        {display: "The Plane of Air", value: "215" },
        {display: "The Plane of Disease", value: "205" },
        {display: "The Plane of Earth A", value: "218" },
        {display: "The Plane of Earth B", value: "222" },
        {display: "The Plane of Fire", value: "217" },
        {display: "The Plane of Innovation", value: "206" },
        {display: "The Plane of Justice", value: "201" },
        {display: "The Plane of Knowledge", value: "202" },
        {display: "The Plane of Nightmares", value: "204" },
        {display: "The Plane of Storms", value: "210" },
        {display: "The Plane of Time", value: "219" },
        {display: "The Plane of Time", value: "223" },
        {display: "The Plane of Tranquility", value: "203" },
        {display: "The Plane of Valor", value: "208" },
        {display: "The Plane of Water", value: "216" },
        {display: "The Temple of Marr", value: "220" },
        {display: "The Tower of Solusek Ro", value: "212" },
        {display: "Torment, the Plane of Pain", value: "207" },
    ];
    var Ykesha = [{display: "--No Exact Zone--", value: "None"},
        {display: "Chardok: The Halls of Betrayal", value: "277" },
        {display: "Dulak's Harbor", value: "225" },
        {display: "Hate's Fury", value: "228" },
        {display: "The Caverns of Exile", value: "278" },
        {display: "The Crypt of Nadox", value: "227" },
        {display: "The Gulf of Gunthak", value: "224" },
        {display: "The Torgiran Mines", value: "226" },
    ];
    var LDoN = [{display: "--No Exact Zone--", value: "None"},
        {display: "Deepest Guk: Accursed Sanctuary", value: "264" },
        {display: "Deepest Guk: Ancient Aqueducts", value: "239" },
        {display: "Deepest Guk: Cauldron of Lost Souls", value: "229" },
        {display: "Deepest Guk: Chapel of the Witnesses", value: "254" },
        {display: "Deepest Guk: Ritualist of Hate", value: "259" },
        {display: "Deepest Guk: The Curse Reborn", value: "249" },
        {display: "Deepest Guk: The Mushroom Grove", value: "244" },
        {display: "Deepest Guk: The Rescue", value: "239" },
        {display: "Deepest Guk: The Root Garden", value: "259" },
        {display: "Miragul's Menagerie: Frozen Nightmare", value: "237" },
        {display: "Miragul's Menagerie: Grand Library", value: "275" },
        {display: "Miragul's Menagerie: Heart of the Menagerie", value: "262" },
        {display: "Miragul's Menagerie: Hushed Banquet", value: "247" },
        {display: "Miragul's Menagerie: Silent Gallery", value: "232" },
        {display: "Miragul's Menagerie: Spider Den", value: "242" },
        {display: "Mistmoore's Catacombs: Aisles of Blood", value: "268" },
        {display: "Mistmoore's Catacombs: Cesspits of Putrescence", value: "263" },
        {display: "Mistmoore's Catacombs: Chambers of Eternal Affliction", value: "248" },
        {display: "Mistmoore's Catacombs: Dreary Grotto", value: "238" },
        {display: "Mistmoore's Catacombs: Forlorn Caverns", value: "233" },
        {display: "Mistmoore's Catacombs: Halls of Sanguinary Rites", value: "272" },
        {display: "Mistmoore's Catacombs: Infernal Sanctuary", value: "276" },
        {display: "Mistmoore's Catacombs: Scion Lair of Fury", value: "258" },
        {display: "Mistmoore's Catacombs: Sepulcher of the Damned", value: "253" },
        {display: "Mistmoore's Catacombs: Struggles within the Progeny", value: "243" },
        {display: "Takish-Hiz: Antiquated Palace", value: "270" },
        {display: "Takish-Hiz: Balancing Chamber", value: "261" },
        {display: "Takish-Hiz: Prismatic Corridors", value: "274" },
        {display: "Takish-Hiz: River of Recollection", value: "251" },
        {display: "Takish-Hiz: Royal Observatory", value: "246" },
        {display: "Takish-Hiz: Sandfall Corridors", value: "256" },
        {display: "Takish-Hiz: Shifting Tower", value: "236" },
        {display: "Takish-Hiz: Sunken Library", value: "231" },
        {display: "Takish-Hiz: Sweeping Tides", value: "266" },
        {display: "Takish-Hiz: The Palace Grounds", value: "251" },
        {display: "Takish-Hiz: Within the Compact", value: "241" },
        {display: "The Drowning Crypt", value: "234" },
        {display: "The Forgotten Wastes", value: "257" },
        {display: "The Frosted Halls", value: "252" },
        {display: "The Morbid Laboratory", value: "267" },
        {display: "The Rujarkian Hills: Arena of Chance", value: "269" },
        {display: "The Rujarkian Hills: Barracks of War", value: "273" },
        {display: "The Rujarkian Hills: Blazing Forge ", value: "265" },
        {display: "The Rujarkian Hills: Bloodied Quarries", value: "230" },
        {display: "The Rujarkian Hills: Drudge Hollows", value: "250" },
        {display: "The Rujarkian Hills: Fortified Lair of the Taskmasters", value: "255" },
        {display: "The Rujarkian Hills: Halls of War", value: "235" },
        {display: "The Rujarkian Hills: Hidden Vale of Deceit", value: "260" },
        {display: "The Rujarkian Hills: Prison Break", value: "245" },
        {display: "The Rujarkian Hills: War March of Imal Ojun", value: "273" },
        {display: "The Rujarkian Hills: Wind Bridges", value: "240" },
        {display: "The Spider Den", value: "242" },
        {display: "The Theater of Imprisoned Horror", value: "271" },
    ];
    var GoD = [{display: "--No Exact Zone--", value: "None"},
        {display: "Barindu, Hanging Gardens", value: "283" },
        {display: "Ferubi, Forgotten Temple of Taelosia", value: "284" },
        {display: "Ikkinz, Chambers of Transcendence", value: "294" },
        {display: "Inktu'Ta, the Unmasked Chapel", value: "296" },
        {display: "Kod'Taz, Broken Trial Grounds", value: "293" },
        {display: "Natimbi, the Broken Shores", value: "280" },
        {display: "Qinimi, Court of Nihilia", value: "281" },
        {display: "Qvic, Prayer Grounds of Calling", value: "295" },
        {display: "Riwwi, Coliseum of Games", value: "282" },
        {display: "Sewers of Nihilia, Emanating Crematorium", value: "288" },
        {display: "Sewers of Nihilia, Lair of Trapped Ones", value: "286" },
        {display: "Sewers of Nihilia, Pool of Sludge", value: "285" },
        {display: "Sewers of Nihilia, Purifying Plant", value: "287" },
        {display: "Tacvi, The Broken Temple", value: "298" },
        {display: "The Abysmal Sea", value: "279" },
        {display: "The Forgotten Halls", value: "998" },
        {display: "Tipt, Treacherous Crags", value: "289" },
        {display: "Txevu, Lair of the Elite", value: "297" },
        {display: "Uqua, the Ocean God Chantry", value: "292" },
        {display: "Vxed, the Crumbling Caverns", value: "290" },
        {display: "Yxtta, Pulpit of Exiles ", value: "291" },
    ];
    var OoW = [{display: "--No Exact Zone--", value: "None"},
        {display: "Anguish, the Fallen Palace", value: "317" },
        {display: "Catacombs of Dranik", value: "328" },
        {display: "Dranik's Hollows", value: "318" },
        {display: "Dranik's Scar", value: "302" },
        {display: "Harbinger's Spire", value: "335" },
        {display: "Muramite Proving Grounds", value: "304" },
        {display: "Nobles' Causeway", value: "303" },
        {display: "Riftseekers' Sanctum", value: "334" },
        {display: "Sewers of Dranik", value: "331" },
        {display: "The Bloodfields", value: "301" },
        {display: "The Ruined City of Dranik", value: "336" },
        {display: "Wall of Slaughter", value: "300" },
    ];
    var DoN = [{display: "--No Exact Zone--", value: "None"},
        {display: "Guild Hall", value: "345" },
        {display: "Guild Lobby", value: "344" },
        {display: "Lavaspinner's Lair", value: "341" },
        {display: "Lavaspinner's Lair: A Halfling", value: "341" },
        {display: "Lavaspinner's Lair: Diving for Lavarocks", value: "341" },
        {display: "Lavaspinner's Lair: Forbin", value: "341" },
        {display: "Lavaspinner's Lair: Grounding the Drakes", value: "341" },
        {display: "Lavaspinner's Lair: Infested", value: "341" },
        {display: "Lavaspinner's Lair: Lavaspinner", value: "341" },
        {display: "Lavaspinner's Lair: The Drake Menace", value: "341" },
        {display: "Lavaspinner's Lair: Treasure Hunting", value: "341" },
        {display: "Lavaspinner's Lair: Volkara", value: "341" },
        {display: "Stillmoon Ascent: Death Comes Swiftly", value: "339" },
        {display: "Stillmoon Ascent: Drake Eggs", value: "339" },
        {display: "Stillmoon Ascent: Kessdona's Perch", value: "339" },
        {display: "Stillmoon Ascent: Reflections of Silver", value: "339" },
        {display: "Stillmoon Ascent: Storm Dragon Scales", value: "339" },
        {display: "Stillmoon Ascent: Sudden Tremors", value: "339" },
        {display: "Stillmoon Temple", value: "338" },
        {display: "Stillmoon Temple: Animated Statue Plans", value: "338" },
        {display: "Stillmoon Temple: Best Laid Plans", value: "338" },
        {display: "Stillmoon Temple: Diseased Pumas", value: "338" },
        {display: "Stillmoon Temple: Guardian of the Sands", value: "338" },
        {display: "Stillmoon Temple: Scales of Justice", value: "338" },
        {display: "Stillmoon Temple: Sickness of the Spirit", value: "338" },
        {display: "Stillmoon Temple: Tea for Thy Master", value: "338" },
        {display: "Stillmoon Temple: Tracking the Kirin", value: "338" },
        {display: "Stillmoon Temple: Trial of Perseverance", value: "338" },
        {display: "The Ascent", value: "339" },
        {display: "The Ascent: Signal Fires", value: "339" },
        {display: "The Barter Hall", value: "346" },
        {display: "The Broodlands", value: "337" },
        {display: "The Nest", value: "343" },
        {display: "The Nest: Circle of Drakes", value: "343" },
        {display: "The Nest: Clues", value: "343" },
        {display: "The Nest: Curse of Ju'rek", value: "343" },
        {display: "The Nest: Dragon's Egg", value: "343" },
        {display: "The Nest: Failed Expedition", value: "343" },
        {display: "The Nest: Flight of the Blackwing Drakes", value: "343" },
        {display: "The Nest: In the Shadows", value: "343" },
        {display: "The Nest: Lair of the Blackwing Drakes", value: "343" },
        {display: "The Nest: Origins of the Curse", value: "343" },
        {display: "The Nest: Rivals", value: "343" },
        {display: "The Nest: Scrap Metal", value: "343" },
        {display: "The Nest: Spider's Eye", value: "343" },
        {display: "The Nest: Stopping Firiona's Henchmen", value: "343" },
        {display: "The Nest: Toppling of the Monolith", value: "343" },
        {display: "The Nest: Web of Lies", value: "343" },
        {display: "Thundercrest Isles", value: "340" },
        {display: "Thundercrest Isles: An End to the Storms", value: "340" },
        {display: "Thundercrest Isles: Behind Closed Doors", value: "340" },
        {display: "Thundercrest Isles: Gilded Scroll", value: "340" },
        {display: "Thundercrest Isles: Goblin Dojo", value: "340" },
        {display: "Thundercrest Isles: Holy Hour", value: "340" },
        {display: "Thundercrest Isles: House of the Autumn Rose", value: "340" },
        {display: "Thundercrest Isles: Lair Unguarded", value: "340" },
        {display: "Thundercrest Isles: Plunder the Hoard", value: "340" },
        {display: "Thundercrest Isles: Scions of Thundercrest", value: "340" },
        {display: "Thundercrest Isles: Simple Task", value: "340" },
        {display: "Thundercrest Isles: Splitting the Storm", value: "340" },
        {display: "Thundercrest Isles: Stormreach Challenge", value: "340" },
        {display: "Thundercrest Isles: The Creator", value: "340" },
        {display: "Thundercrest Isles: Throes of Contagion", value: "340" },
        {display: "Tirranun's Delve", value: "342" },
        {display: "Tirranun's Delve: A Goblin", value: "342" },
        {display: "Tirranun's Delve: Calling Emoush", value: "342" },
        {display: "Tirranun's Delve: Children of Gimblax", value: "342" },
        {display: "Tirranun's Delve: Fanning the Flames", value: "342" },
        {display: "Tirranun's Delve: Have Note Will Travel", value: "342" },
        {display: "Tirranun's Delve: Storming the Goblin Palace", value: "342" },
    ];
    var DoDH = [{display: "--No Exact Zone--", value: "None"},
        {display: "Ruins of Illsalin", value: "347" },
        {display: "Illsalin Marketplace: The Fall of Illsalin", value: "348" },
        {display: "Illsalin Marketplace", value: "348" },
        {display: "Temple of the Korlach: The Council of Nine", value: "349" },
        {display: "Temple of the Korlach: Find Fibblebrap 4 The Korlach", value: "349" },
        {display: "Temple of the Korlach: Last of the Legion", value: "349" },
        {display: "Temple of the Korlach: Praetorian Guard", value: "349" },
        {display: "Temple of Korlach", value: "349" },
        {display: "The Nargilor Pits: Deserting the Ranks", value: "350" },
        {display: "The Nargilor Pits: Emperor Draygun", value: "350" },
        {display: "The Nargilor Pits: Preemptive Strike", value: "350" },
        {display: "The Nargilor Pits: The Last Migration", value: "350" },
        {display: "The Nargil Pits", value: "350" },
        {display: "Dreadspire Keep: Demi-Plane of Blood", value: "351" },
        {display: "Dreadspire Keep", value: "351" },
        {display: "The Hive", value: "354" },
        {display: "The Hive: Freeing an Elder", value: "354" },
        {display: "The Hive: Hides You Seek", value: "354" },
        {display: "The Hive: Sabotage!", value: "354" },
        {display: "The Hive: The Lost Notebook", value: "354" },
        {display: "The Hive: The Orb of Subversion", value: "354" },
        {display: "The Hatchery", value: "355" },
        {display: "The Hatchery: Find Fibblebrap 3 The Hive", value: "355" },
        {display: "The Hatchery: The Lost Gnomes", value: "355" },
        {display: "The Hatchery: The Search for Clues", value: "355" },
        {display: "The Cocoons", value: "356" },
        {display: "The Cocoons: Rescue Cicero!", value: "356" },
        {display: "Queen Sendaii`s Lair", value: "357" },
        {display: "Queen Sendaii`s Lair: Sendaii the Hive Queen", value: "357" },
        {display: "Stoneroot Falls: The City of Xill (A Rogues Trust)", value: "358" },
        {display: "Stoneroot Falls: The City of Xill (Building the Disguise)", value: "358" },
        {display: "Stoneroot Falls: The City of Xill (Scouting the City)", value: "358" },
        {display: "Stoneroot Falls", value: "358" },
        {display: "Chambers of Xill: The Rage of Kelliad", value: "359" },
        {display: "Chambers of Xill: The Search for Ilsuras", value: "359" },
        {display: "The Lodge of the Fang: Matriarch Shyra", value: "359" },
        {display: "Prince's Manor", value: "359" },
        {display: "Caverns of the Lost: Find Fibblebrap 2 Lost Caverns", value: "360" },
        {display: "Caverns of the Lost", value: "360" },
        {display: "Lair of the Korlach: Discovering the Secret", value: "361" },
        {display: "Lair of the Korlach: Into the Leviathans Lair", value: "361" },
        {display: "Lair of the Korlach: Korlach the Deep Leviathan", value: "361" },
        {display: "Lair of the Korlach: Learning the Power", value: "361" },
        {display: "Lair of the Korlach: Taking Control", value: "361" },
        {display: "Lair of the Korlach: The Search for Coral", value: "361" },
        {display: "Lair of the Korlach", value: "361" },
        {display: "The Undershore", value: "362" },
        {display: "The Undershore: Trailing Longshadow", value: "362" },
        {display: "Snarlstone Dens", value: "363" },
        {display: "Snarlstone Dens: A Plea for Help", value: "363" },
        {display: "Snarlstone Dens: Bloodeye", value: "363" },
        {display: "Snarlstone Dens: Confronting a Traitor", value: "363" },
        {display: "Shadow Spine", value: "364" },
        {display: "Shadowspine: Into the Shadows", value: "364" },
        {display: "Corathus Creep", value: "365" },
        {display: "Sporali Caverns", value: "366" },
        {display: "Sporali Caverns: Antraygus, Sporali King", value: "366" },
        {display: "Sporali Caverns: Cavern Botany", value: "366" },
        {display: "The Corathus Mines", value: "367" },
        {display: "Corathus Lair: Find Fibblebrap 1 The mines", value: "367" },
        {display: "Corathus Lair: Find Fibblebrap 5 The Rescue", value: "367" },
        {display: "The Lair of the Creep Beast: Lair of the Haru", value: "367" },
        {display: "Shadowed Grove", value: "368" },
    ];
    var PoR = [{display: "--No Exact Zone--", value: "None"},
        {display: "Arcstone, Isle of Spirits", value: "369" },
        {display: "Relic, the Artifact City", value: "370" },
        {display: "Skylance", value: "371" },
        {display: "The Devastation", value: "372" },
        {display: "The Seething Wall", value: "373" },
        {display: "Sverag, Stronghold of Rage", value: "374" },
        {display: "Razorthorn, Tower of Sullon Zek", value: "375" },
        {display: "Ruins of Takish-Hiz", value: "376" },
        {display: "The Root of Ro", value: "377" },
        {display: "The Elddar Forest", value: "378" },
        {display: "Tunare's Shrine", value: "379" },
        {display: "Theater of Blood", value: "380" },
        {display: "Deathknell, Tower of Dissonance", value: "381" },
        {display: "East Freeport", value: "382" },
        {display: "West Freeport", value: "383" },
        {display: "Freeport Sewers", value: "384" },
        {display: "Academy of Arcane Sciences", value: "385" },
        {display: "Temple of Marr", value: "386" },
        {display: "Freeport Militia House: My Precious", value: "387" },
        {display: "Arena", value: "388" },
        {display: "City Hall", value: "389" },
        {display: "Theater of the Tranquil", value: "390" },
        {display: "Hall of Truth: Bounty", value: "391" },
        {display: "North Desert of Ro", value: "392" },
        {display: "South Desert of Ro", value: "393" },
    ];
    var TSS = [{display: "--No Exact Zone--", value: "None"},
        {display: "Crescent Reach", value: "394" },
        {display: "Blightfire Moors", value: "395" },
        {display: "Stone Hive", value: "396" },
        {display: "Goru`kar Mesa", value: "397" },
        {display: "Blackfeather Roost", value: "398" },
        {display: "The Steppes", value: "399" },
        {display: "Icefall Glacier", value: "400" },
        {display: "Valdeholm", value: "401" },
        {display: "Frostcrypt, Throne of the Shade King", value: "402" },
        {display: "Sunderock Springs", value: "403" },
        {display: "Vergalid Mines", value: "404" },
        {display: "Direwind Cliffs", value: "405" },
        {display: "Ashengate, Reliquary of the Scale", value: "406" },
        {display: "Highpass Hold", value: "407" },
        {display: "The Commonlands", value: "408" },
        {display: "The Ocean of Tears", value: "409" },
        {display: "Kithicor Forest", value: "410" },
        {display: "Befallen", value: "411" },
        {display: "HighKeep", value: "412" },
        {display: "The Innothule Swamp", value: "413" },
        {display: "Toxxulia Forest", value: "414" },
        {display: "The Misty Thicket", value: "415" },
    ];
    var TBS = [{display: "--No Exact Zone--", value: "None"},
        {display: "Katta Castrum", value: "416" },
        {display: "Thalassius, the Coral Keep", value: "417" },
        {display: "Jewel of Atiiki", value: "418" },
        {display: "Zhisza, the Shissar Sanctuary", value: "419" },
        {display: "Silyssar, New Chelsith", value: "420" },
        {display: "Solteris, the Throne of Ro", value: "421" },
        {display: "Barren Coast", value: "422" },
        {display: "The Buried Sea", value: "423" },
        {display: "Jardel's Hook", value: "424" },
        {display: "Monkey Rock", value: "425" },
        {display: "Suncrest Isle", value: "426" },
        {display: "Deadbone Reef", value: "427" },
        {display: "Blacksail Folly", value: "428" },
        {display: "Maiden's Grave", value: "429" },
        {display: "Redfeather Isle", value: "430" },
        {display: "The Open Sea", value: "431" },
    ];
    var SoF = [{display: "--No Exact Zone--", value: "None"},
        {display: "Fortress Mechanotus", value: "436" },
        {display: "Meldrath's Majestic Mansion", value: "437" },
        {display: "The Steam Factory", value: "438" },
        {display: "S.H.I.P. Workshop", value: "439" },
        {display: "Gyrospire Beza", value: "440" },
        {display: "Gyrospire Zeka", value: "441" },
        {display: "Dragonscale Hills", value: "442" },
        {display: "Loping Plains", value: "443" },
        {display: "Hills of Shade", value: "444" },
        {display: "Bloodmoon Keep", value: "445" },
        {display: "Crystallos, Lair of the Awakened", value: "446" },
        {display: "The Mechamatic Guardian", value: "447" },
        {display: "The Steamfont Mountains", value: "448" },
        {display: "Crypt of Shade", value: "449" },
        {display: "Deepscar's Den", value: "451" },
    ];
    var SoD = [{display: "--No Exact Zone--", value: "None"},
        {display: "Field of Scale", value: "452" },
        {display: "Kaesora Library", value: "453" },
        {display: "Kaesora Hatchery", value: "454" },
        {display: "Kurn's Tower", value: "455" },
        {display: "Bloody Kithicor", value: "456" },
        {display: "Old Commonlands", value: "457" },
        {display: "Highpass Hold", value: "458" },
        {display: "The Void", value: "459" },
        {display: "Oceangreen Hills", value: "466" },
        {display: "Oceangreen Village", value: "467" },
        {display: "BlackBurrow", value: "468" },
        {display: "Temple of Bertoxxulous", value: "469" },
        {display: "Korafax, Home of the Riders", value: "470" },
        {display: "Citadel of the Worldslayer", value: "471" },
        {display: "Old Bloodfields", value: "472" },
        {display: "The Precipice of War", value: "473" },
        {display: "City of Dranik", value: "474" },
        {display: "Toskirakk", value: "475" },
        {display: "Korascian Warrens", value: "476" },
        {display: "Rathe Council Chamber", value: "477" },
    ];
    var UF = [{display: "--No Exact Zone--", value: "None"},
        {display: "Brell's Rest", value: "480" },
        {display: "Fungal Forest", value: "481" },
        {display: "The Underquarry", value: "482" },
        {display: "The Cooling Chamber", value: "483" },
        {display: "Kernagir, the Shining City", value: "484" },
        {display: "Arthicrex", value: "485" },
        {display: "The Foundation", value: "486" },
        {display: "Lichen Creep", value: "487" },
        {display: "Pellucid Grotto", value: "488" },
        {display: "Volska's Husk", value: "489" },
        {display: "Brell's Temple", value: "490" },
        {display: "The Convorteum", value: "491" },
        {display: "Brell's Arena", value: "492" },
        {display: "Wedding Chapel", value: "493" },
        {display: "Wedding Chapel", value: "494" },
        {display: "Lair of the Risen", value: "495" },
    ];
    var HoT = [{display: "--No Exact Zone--", value: "None"},
        {display: "The Feerrott", value: "700" },
        {display: "House of Thule", value: "701" },
        {display: "House of Thule, Upper Floors", value: "702" },
        {display: "The Grounds", value: "703" },
        {display: "The Library", value: "704" },
        {display: "The Well", value: "705" },
        {display: "Erudin Burning", value: "706" },
        {display: "Morell's Castle", value: "707" },
        {display: "Sanctum Somnium", value: "708" },
        {display: "Al'Kabor's Nightmare", value: "709" },
        {display: "Miragul's Nightmare", value: "710" },
        {display: "Fear Itself", value: "711" },
        {display: "Sunrise Hills", value: "712" },
    ];
    var VoA = [{display: "--No Exact Zone--", value: "None"},
        {display: "Argath, Bastion of Illdaera", value: "724" },
        {display: "Valley of Lunanyn", value: "725" },
        {display: "Sarith, City of Tides", value: "726" },
        {display: "Rubak Oseka, Temple of the Sea", value: "727" },
        {display: "Beasts' Domain", value: "728" },
        {display: "The Resplendent Temple", value: "729" },
        {display: "Pillars of Alra", value: "730" },
        {display: "Windsong Sanctuary", value: "731" },
        {display: "Erillion, City of Bronze", value: "732" },
        {display: "Sepulcher of Order", value: "733" },
        {display: "Sepulcher East", value: "734" },
        {display: "Sepulcher West", value: "735" },
    ];
    var RoF = [{display: "--No Exact Zone--", value: "None"},
        {display: "Shard's Landing", value: "752" },
        {display: "Valley of King Xorbb", value: "753" },
        {display: "Kael Drakkel: The King's Madness", value: "754" },
        {display: "East Wastes: Zeixshi-Kar's Awakening", value: "755" },
        {display: "The Crystal Caverns: Fragment of Fear", value: "756" },
        {display: "The Breeding Grounds", value: "757" },
        {display: "Evantil, the Vile Oak", value: "758" },
        {display: "Grelleth's Palace, the Chateau of Filth", value: "759" },
        {display: "Chapterhouse of the Fallen", value: "760" },
    ];

    ddl2.options.length = 0;
    var arr = eval(ddl1.value);
    for (i = 0; i < arr.length; i++) {
      createOption(ddl2, arr[i].display, arr[i].value);
    }
};

function createOption(ddl, text, value) {
  var opt = document.createElement('option');
  opt.value = value;
  opt.text = text;
  ddl.options.add(opt);
};
</script>
<h2>Here is your item!  Please examine it carefully...</h2>
<div class="" id="" style="display: flex; justify-content: center">
    <table class='item-card'>
        <tbody>
        <tr>
            <td colspan='3'>
            <table>
                <colgroup>
                    <col style="width: 45px;"/>
                </colgroup>
                <tr>
                    <td></td>
                    <td>{{item.Name}}</td>
                </tr>
            </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan='3'>
                <table>
                    <tr>
                        Class: {{item.class_str}}
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='3'>
                <table>
                    <tr>
                        {{item.slot_str}}
                    </tr>
                </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                <table>
                    <tr></tr>
                    <tr></tr>
                    {% if item.type_str != '__na__' %}
                    <tr>
                        <td>Skill:</td>
                        <td>{{item.type_str}}</td>
                    </tr>
                    {% else %}
                    <tr></tr>
                    {% endif %}
                </table>
            </td>
            <td>
                <table>
                    {% if item.ac != 0 %}
                    <tr>
                        <td>AC:</td>
                        <td colspan="2" align="right">{{item.ac}}</td>
                    </tr>
                    {% endif %}
                    {% if item.hp != 0 %}
                    <tr>
                        <td>HP:</td>
                        <td align="right">{{item.hp}}</td>
                    </tr>
                    {% endif %}
                    {% if item.mana != 0 %}
                    <tr>
                        <td>Mana:</td>
                        <td align="right">{{item.mana}}</td>
                    </tr>
                    {% endif %}
                    {% if item.endur != 0 %}
                    <tr>
                        <td>End:</td>
                        <td align="right">{{item.endur}}</td>
                    </tr>
                    {% endif %}
                    {% if item.haste != 0 %}
                    <tr>
                        <td>Haste:</td>
                        <td align="right">{{item.haste}}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
            <td>
                <table>
                    {% if item.damage != 0 %}
                    <tr>
                        <td>Base Dmg:</td>
                        <td align="right">{{item.damage}}</td>
                    </tr>
                    {% else %}
                    <tr></tr>
                    {% endif %}
                    {% if item.backstabdmg %}
                    <tr>
                        <td>Backstab Dmg:</td>
                        <td align="right">{{item.backstabdmg}}</td>
                    </tr>
                    {% endif %}
                    {% if item.elem_dmg_name %}
                    <tr>
                        <td>{{item.elem_dmg_name}} Dmg:</td>
                        <td align="right">{{item.elem_dmg_amount}}</td>
                    </tr>
                     {% endif %}
                    {% if item.delay != 0 %}
                    <tr>
                        <td>Delay:</td>
                        <td align="right">{{item.delay}}</td>
                    </tr>
                    {% else %}
                    <tr></tr>
                    {% endif%}
                </table>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                <table>
                    {% if item.astr != 0 or item.heroic_str != 0 %}
                    <tr>
                        <td>Strength:</td>
                        <td align="right">{{item.astr}}</td>
                        {% if item.heroic_str != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_str}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.asta != 0 or item.heroic_sta != 0 %}
                    <tr>
                        <td>Stamina:</td>
                        <td align="right">{{item.asta}}</td>
                        {% if item.heroic_sta != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_sta}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.adex != 0 or item.heroic_dex != 0 %}
                    <tr>
                        <td>Dexterity:</td>
                        <td align="right">{{item.adex}}</td>
                        {% if item.heroic_dex != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_dex}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.aagi != 0 or item.heroic_agi != 0 %}
                    <tr>
                        <td>Agility:</td>
                        <td align="right">{{item.aagi}}</td>
                        {% if item.heroic_agi != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_agi}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.awis != 0 or item.heroic_wis != 0 %}
                    <tr>
                        <td>Wisdom:</td>
                        <td align="right">{{item.awis}}</td>
                        {% if item.heroic_wis != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_wis}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.aint != 0 or item.heroic_int != 0 %}
                    <tr>
                        <td>Intelligence:</td>
                        <td align="right">{{item.aint}}</td>
                        {% if item.heroic_int != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_int}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.acha != 0 or item.heroic_cha != 0 %}
                    <tr>
                        <td>Charisma:</td>
                        <td align="right">{{item.acha}}</td>
                        {% if item.heroic_cha != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_cha}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                </table>
            </td>
            <td>
                <table>
                    {% if item.fr != 0 or item.heroic_fr != 0 %}
                    <tr>
                        <td>Fire:</td>
                        <td align="right">{{item.fr}}</td>
                        {% if item.heroic_fr != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_fr}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.cr != 0 or item.heroic_cr != 0 %}
                    <tr>
                        <td>Cold:</td>
                        <td align="right">{{item.cr}}</td>
                        {% if item.heroic_cr != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_cr}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.mr != 0 or item.heroic_mr != 0 %}
                    <tr>
                        <td>Magic:</td>
                        <td align="right">{{item.mr}}</td>
                        {% if item.heroic_mr != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_mr}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.dr != 0 or item.heroic_dr != 0 %}
                    <tr>
                        <td>Disease:</td>
                        <td align="right">{{item.dr}}</td>
                        {% if item.heroic_dr != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_dr}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if item.pr != 0 or item.heroic_pr != 0 %}
                    <tr>
                        <td>Poison:</td>
                        <td align="right">{{item.pr}}</td>
                        {% if item.heroic_pr != 0 %}
                        <td align="left"><font color="Orange">+{{item.heroic_pr}}</font></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                </table>
            </td>
            <td>
                <table>
                    {% if item.attack != 0 %}
                    <tr>
                        <td>Attack:</td>
                        <td>{{item.attack}}</td>
                    </tr>
                    {% endif %}
                    {% if item.regen != 0 %}
                    <tr>
                        <td>HP Regen:</td>
                        <td>{{item.regen}}</td>
                    </tr>
                    {% endif %}
                    {% if item.manaregen != 0 %}
                    <tr>
                        <td>Mana Regen:</td>
                        <td>{{item.manaregen}}</td>
                    </tr>
                    {% endif %}
                    {% if item.accuracy != 0 %}
                    <tr>
                        <td>Accuracy:</td>
                        <td>{{item.accuracy}}</td>
                    </tr>
                    {% endif %}
                    {% if item.avoidance != 0 %}
                    <tr>
                        <td>Avoidance:</td>
                        <td>{{item.avoidance}}</td>
                    </tr>
                    {% endif %}
                    {% if item.combateffects|int != 0 %}
                    <tr>
                        <td>Combat Effects:</td>
                        <td>{{item.combateffects}}</td>
                    </tr>
                    {% endif %}
                    {% if item.damageshield != 0 %}
                    <tr>
                        <td>Damage Shield:</td>
                        <td>{{item.damageshield}}</td>
                    </tr>
                    {% endif %}
                    {% if item.dotshielding != 0 %}
                    <tr>
                        <td>DoT Shielding:</td>
                        <td>{{item.dotshielding}}</td>
                    </tr>
                    {% endif %}
                    {% if item.shielding != 0 %}
                    <tr>
                        <td>Shielding:</td>
                        <td>{{item.shielding}}</td>
                    </tr>
                    {% endif %}
                    {% if item.spellshield != 0 %}
                    <tr>
                        <td>Spell Shield:</td>
                        <td>{{item.spellshield}}</td>
                    </tr>
                    {% endif %}
                    {% if item.strikethrough != 0 %}
                    <tr>
                        <td>Strikethrough:</td>
                        <td>{{item.strikethrough}}</td>
                    </tr>
                    {% endif %}
                    {% if item.stunresist != 0 %}
                    <tr>
                        <td>Stun Resist:</td>
                        <td>{{item.stunresist}}</td>
                    </tr>
                    {% endif %}
                    {% if item.spelldmg != 0 %}
                    <tr>
                        <td>Spell Dmg:</td>
                        <td>{{item.spelldmg}}</td>
                    </tr>
                    {% endif %}
                    {% if item.healamt != 0 %}
                    <tr>
                        <td>Heal Amount</td>
                        <td>{{item.healamt}}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
        {% if item.aug_slot_1 %}
        <tr>
            <td nowrap="1" colspan='3'>Slot 1, type {{item.aug_slot_1}}</td>
        </tr>
        {% endif %}
        {% if item.aug_slot_2 %}
        <tr>
            <td nowrap="1" colspan='3'>Slot 2, type {{item.aug_slot_2}}</td>
        </tr>
        {% endif %}
        {% if item.aug_slot_3 %}
        <tr>
            <td nowrap="1" colspan='3'>Slot 3, type {{item.aug_slot_3}}</td>
        </tr>
        {% endif %}
        {% if item.aug_slot_4 %}
        <tr>
            <td nowrap="1" colspan='3'>Slot 4, type {{item.aug_slot_4}}</td>
        </tr>
        {% endif %}
        {% if item.aug_slot_5 %}
        <tr>
            <td nowrap="1" colspan='3'>Slot 5, type {{item.aug_slot_5}}</td>
        </tr>
        {% endif %}
        {% if item.worneffect > 0 %}
        <tr>
            <td nowrap="1" colspan="3">Worn: {{item.worn_name}}</td>
        </tr>
        {% endif %}
        {% if item.proceffect > 0 %}
        <tr>
            <td nowrap="1" colspan='3'>Effect: {{item.proc_name}} (Combat)</td>
        </tr>
        {% if item.proclevel2 > 0 %}
        <tr>
            <td nowrap="1" colspan="3">Procs at level {{item.proclevel2}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% if item.clickeffect > 0 %}
        <tr>
            <td nowrap="1" colspan='3'>Effect: {{item.click_name}} (Click)</td>
        </tr>
        {% if item.clicklevel2 > 0 %}
        <tr>
            <td nowrap="1" colspan="3">Clickable at level {{item.clicklevel2}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% if item.focuseffect > 0 %}
        <tr>
            <td nowrap="1" colspan='3'>Effect: {{item.focus_name}} (Worn)</td>
        </tr>
        {% endif %}
        {% if item.bardeffect > 0 %}
        <tr>
            <td nowrap="1" colspan='3'>Effect: {{item.inst_name}} (Worn)</td>
        </tr>
        {% endif %}
        {% if "bane_body_name" in item %}
        <tr>
            <td nowrap="1" colspan='3'>Bane Dmg: {{item.bane_body_name}} +{{item.bane_body_amount}}</td>
        </tr>
        {% endif %}
        {% if "bane_race_name" in item %}
        <tr>
            <td nowrap="1" colspan='3'>Bane Dmg: {{item.bane_race_name}} +{{item.bane_race_amount}}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<br><br>
<b>Cannot identify item?  No problem!  Press f5 or reload the page to get a new item.</b><br>
<h2>Select Source Information</h2>
<form actions="{{ url_for('item_search') }}" method="post" class="add-entry" id="demoForm">
    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
    <table>
        <tr>
            <td>Expansion</td>
            <td>
                <select name="expansion" id="expansion" onchange="configureDropDownLists(this,document.getElementById('zone_id'))">
                    <option value="None" selected="selected">--Select Expansion--</option>
                    <option value="Classic">Classic</option>
                    <option value="Kunark">Ruins of Kunark</option>
                    <option value="Velious">Scars of Velious</option>
                    <option value="Luclin">Shadows of Luclin</option>
                    <option value="Planes">Planes of Power</option>
                    <option value="Ykesha">Legacy of Ykesha</option>
                    <option value="LDoN">Lost Dungeons of Norrath</option>
                    <option value="GoD">Gates of Discord</option>
                    <option value="OoW">Omens of War</option>
                    <option value="DoN">Dragons of Norrath</option>
                    <option value="DoDH">Depths of Darkhollow</option>
                    <option value="PoR">Prophecy of Ro</option>
                    <option value="TSS">The Serpent's Spine</option>
                    <option value="TBS">The Buried Sea</option>
                    <option value="SoF">Secrets of Faydwer</option>
                    <option value="SoD">Seeds of Destruction</option>
                    <option value="UF">Underfoot</option>
                    <option value="HoT">House of Thule</option>
                    <option value="VoA">Veil of Alaris</option>
                    <option value="RoF">Rain of Fear</option>
                    <option value="CoTF">Call of the Forsaken</option>
                    <option value="TDS">The Darkened Sea</option>
                    <option value="TBM">The Broken Mirror</option>
                    <option value="EoK">Empires of Kunark</option>
                    <option value="RoS">Ring of Scale</option>
                    <option value="TBL">The Burning Lands</option>
                    <option value="ToV">Torment of Velious</option>
                    <option value="CoV">Claws of Veeshan</option>
                    <option value="ToL">Terror of Luclin</option>
                    <option value="NoS">Night of Shadows</option>
                    <option value="LS">Laurion's Song</option>
                    <option value="TOB">The Outer Brood</option>
                    <option value="Unknown">Unknown Expansion</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Source</td>
            <td>
                <select name="source" id="source">
                    <option value="None" selected="selected">--Select Source--</option>
                    <option value="drop">Dropped by NPC</option>
                    <option value="quest">Result of a Quest</option>
                    <option value="tradeskill">Created through Tradeskills</option>
                    <option value="combined">Created through a non-tradeskill combination</option>
                    <option value="merchant">Sold by a merchant</option>
                    <option value="summoned">Created through using a spell or another item</option>
                    <option value="vendor">Sold by a vendor</option>
                    <option value="ground">Spawns on the ground</option>
                    <option value="forage">Found via foraging</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Zone</td>
            <td>
                <select name="zone_id" id="zone_id">

                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit Item Identification">
</form>
{% endblock %}