{% extends "layout.html" %}
{% block body %}
<h1>Identify Items!</h1>
<br>
EQDB (and by extension, THJ) uses the current state of the EverQuest backend database to find and present items for
gearing.<br>
You may have noticed, however, that there are items that are 'out of era' for your searches, or that your searches do
return the data you might be expecting.<br>
In order to identify these items, it would take quite a lot of effort for a lot of people to comb through each item
and sort it into the correct "buckets" that they come from, specifically the Expansion and the source of the item, such
as if it's a drop or tradeskill item or something else.
<h2>That's where you can help!</h2>
This 'minigame' is simple!  Click one of the 'identify item' entries below, and an unidentified item will be found for you.<br>
Just provide the expansion and source to the item, and how you happen to know it's from that expansion, and it'll be added to our local database.<br>
Once an item has received enough identifications to raise its confidence level high enough, it will be added to the appropriate Expansion with the
appropriate source, and will show up in relevant searches!
<h2>This data helps THJ as well, as it will make items much more accurate and will remove cruft and out-of-expansion drops!</h2>
You can choose one of two options to help:
<br><br>
1. Login with Discord and attribute item identifications.  If you do so, the more you identify correctly, the more your contributions will be weighted to matter!<br>
2. Just identify items without attribution.  These will take longer to ID items, but if you don't care about attributions, this will get you going quickly.
<br><br>
<b>IMPORTANT: EQDB will add records with your Discord ID and Name, but other than to create attributions, this data is not used in any other way.</b><br>
<b>If you do not feel comfortable providing your ID, that's fine!  Just use the anonymous identification if you'd like to participate</b>
<br><br>
<a href="/identify/attributed/">Identify Items with Discord Login!</a><br>
<a href="/identify/unattributed/">Identify Items anonymously!</a>
{% endblock %}