{% extends "layout.html" %}
{% block body %}
<h2>Top 25 Contributors</h2>
Contributions are the total <b>fully identified items</b> each person has contributed to.
<ol type="1">
{% for entry in data[:25]|sort(attribute='contributed')|reverse %}
  <li>{{entry['contributor']}}: {{entry['contributed']}}</li>
{% endfor %}
</ol>
<br><br>
<h2>Top 50 Identifiers</h2>
Identifications are the total <b>partial identification entries</b> each person has submitted.
<ol type="1">
{% for entry in data[:50]|sort(attribute='identifications')|reverse %}
  <li>{{entry['contributor']}}: {{entry['identifications']}}</li>
{% endfor %}
</ol>
{% endblock %}