{% extends "layout.html" %}
{% block body %}
<h1><center>EQDB - Improved Heroes Journey Database Searching</center></h1>
<a href="/search/armor">Search for Armor</a><br>
<a href="/search/weapon">Search for Weapons</a><br>
<a href="/search/spell">Search Spells</a><br>
<a href="/item/search">Search Items</a><br>
<a href="/zone/listing">Zone Listing</a><br>
<a href="/search/npc">Search NPCs</a><br>
<a href="/search/tradeskill">Search Tradeskills</a><br>
<a href="/search/faction">Search Factions</a>
<br>
<a href="/identify">(MINIGAME) Identify Unknown Items</a>
{% endblock %}