{% extends "layout.html" %}
{% block body %}
<h1><center>EQDB - Improved Heroes Journey Database Searching</center></h1>
<img style="width: 100%;" src="/static/banner3-Logo.png">
<center>
<a href="/search/spell">Search Spells</a> --
<a href="/item/search">Search Items</a> --
<a href="/zone/listing">Zone Listing</a> --
<a href="/search/npc">Search NPCs</a> --
<a href="/search/tradeskill">Search Tradeskills</a> --
<a href="/search/faction">Search Factions</a>
<br>
<a href="/search/armor">Advanced Gear Search: Armor</a> --
<a href="/search/weapon">Advanced Gear Search: Weapons</a> --
<a href="/identify">(MINIGAME) Identify Unknown Items</a>
    </center>
{% endblock %}