{% extends "layout.html" %}
{% block body %}
<h1>EQDB - Improved Heroes Journey Gear Searching</h1>
EQDB is provided as a modified version of the thjdi.cc and allaclone gear searching with the following additional features:<br>
<li>Removal of a large amount of cruft items in the Allakhazam database that are either unobtainable or are items that very few players will be interested in.</li>
<li>Removal of extraneous options on the item search page that make it far more complicated to use.</li>
<li>Addition of more items to weight items by, such as heroic stats, clairvoyance, spell damage, and healing amount.</li>
<li>Modify the item search to allow dynamic weights and the removal of items that have a zero weight</li>
<li>Provide generalized search for focus items without having to know the name of each focus for each expansion.</li>
<br>
<a href="/search/armor">Search for Armor</a><br>
<a href="/search/weapon">Search for Weapons</a>
<br>
<br>
<h4>At this time, EQDB is not intended as a full replacement for thjdi.cc, allakhazam, or any other information repository</h4>
EQDB, for the moment, does not contain the following information.  It is highly advised that you continue to use other sources for these details:<br>
<li>Quest details</li>
<li>Raid details</li>
<li>Quest, Tradeskill, or Other non-gear items</li>
<li>Spell Search</li>
{% endblock %}