{% extends "layout.html" %}
{% block body %}
{% if data is none %}
<h3>NPC data not found or does not exist</h3>
{% else %}
<center><h3>{{data.name}}</h3></center>
<div style="display: flex; justify-content: center;">
<div style="height:1px; margin-top:2em;" xmlns="http://www.w3.org/1999/html"></div>
<main class="flex-shrink-0 pt-4">
    <div class="container py-4">
        <div class="grid">
            <div class="col-12"><h2 class="text-center mb-4">{{data.longname}}</h2></div>

            <div class="row align-items-md-stretch">
                <div class="col-12 col-md-10">
                    <style>
    .map-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: url('/static/cart.png');
    background-repeat: repeat;
    background-size: 64px 64px;
    background-position: center; */
    /* background-color: #c4bc9c; */
    background-color: #dcdcdc;
}

    #mouse-position-box {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: black;
    }


                    </style>
                    <div id="map" class="border" style="min-width: 1000px; height: 500px;">
                        <div class="map-container">
                            {% if data['spawn_groups'] %}
                              {% set cx = data['spawn_groups'][0]['x'] - 750 %}
                              {% set cy = data['spawn_groups'][0]['y'] - 750 %}
                            {% else %}
                              {% set cx = -500 %}
                              {% set cy = -500 %}
                            {% endif %}
                            <svg class="svg" id="zone-map" width="100%" height="100%"
                                 viewBox="{{cx}} {{cy}} 1500.0 1500.0" xmlns="http://www.w3.org/2000/svg"
                                 style="border: 1px solid black;">
                                <defs>
                                    <!-- A marker to be used as an arrowhead -->
                                    <marker
                                            id="arrow"
                                            viewBox="0 0 10 10"
                                            refX="5"
                                            refY="5"
                                            markerWidth="6"
                                            markerHeight="6"
                                            orient="auto-start-reverse">
                                        <path d="M 0 0 L 10 5 L 0 10 z"/>
                                    </marker>
                                </defs>
                                {% for entry in data['mapping'] %}
                                <line x1="{{entry.x1}}" y1="{{entry.y1}}" x2="{{entry.x2}}" y2="{{entry.y2}}"
                                      z1="{{entry.z1}}" z2="{{entry.z2}}" stroke="rgb({{entry.rgb}})"
                                      stroke-width="2" stroke-linejoin="round" stroke-linecap="round"/>
                                {% endfor %}
                                {% for entry in data['spawn_groups'] %}
                                     <circle r="10" cx="{{entry['x']}}" cy="{{entry['y']}}" fill="red">
                                         <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
                                     </circle>
                                {% endfor %}
                            </svg>
                            <div id="mouse-position-box">X: 0, Y: 0</div>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
                    <script src="/static/svg.panzoom.min.js"></script>
                    <script type="module">
    const draw = SVG('#zone-map');
    draw.panZoom({ zoomMin: 0.1, zoomMax: 10, zoomFactor: 1 });


                    </script>
                    <script>
    // Get references to the SVG element and the mouse position box
    const svg = document.getElementById('zone-map');
    const mousePositionBox = document.getElementById('mouse-position-box');

    // Create an SVGPoint object for calculations
    const pt = svg.createSVGPoint();

    // Get point in global SVG space
    function cursorPoint(evt) {
      pt.x = evt.clientX;
      pt.y = evt.clientY;
      return pt.matrixTransform(svg.getScreenCTM().inverse());
    }

    // Event listener to display coordinates
    svg.addEventListener('mousemove', function(evt) {
      // Calculate the SVG coordinates
      const loc = cursorPoint(evt);

      // Update the mouse position box
      const flippedY = -Math.round(loc.y); // Flip the Y coordinate
      const flippedX = -Math.round(loc.x); // Flip the X coordinate
      mousePositionBox.textContent = `Y: ${flippedY}, X: ${flippedX}`;
    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="border bg-body-tertiary p-3 mb-4 d-inline-block" id="base_details">
    <h3>NPC Information</h3>
    <ul>
        <li>Expansion: {{data.expansion}}</li>
        <li>Zone: <a href="{{url_for('zone_detail', zone_id=data.zone_id)}}">{{data.zone_name}}</a></li>
        {% if not data.spawn_groups %}
         <li><b>This NPC spawn is triggered</b></li>
        {% endif %}
        <li>Level: {{data.level}}</li>
        <li>Class: {{data.class}}</li>
        <li>Race: {{data.race}}</li>
        <li>Body Type: {{data.bodytype}}</li>
        {% if data.faction %}
         <li>Faction</li>
          <ul>
              {% for entry in data.faction %}
                {% if entry.faction_amt > 0 %}
                    <li><a href="{{url_for('faction_detail', faction_id=entry.faction_id)}}">{{entry.faction_name}}</a> <font color="green">{{entry.faction_amt}}</font></li>
                {% else %}
                    <li><a href="{{url_for('faction_detail', faction_id=entry.faction_id)}}">{{entry.faction_name}}</a> <font color="red">{{entry.faction_amt}}</font></li>
                {% endif %}
              {% endfor %}
          </ul>
        {% endif %}
        <li>Min Hit: {{data.mindmg}}</li>
        <li>Max Hit: {{data.maxdmg}}</li>
        <li>HP: {{data.hp}}</li>
    </ul>
        <table>
            <thead>
            <th>MR</th>
            <th>CR</th>
            <th>FR</th>
            <th>DR</th>
            <th>PR</th>
            </thead>
            <tr>
                <td>{{data.MR}}</td>
                <td>{{data.CR}}</td>
                <td>{{data.FR}}</td>
                <td>{{data.DR}}</td>
                <td>{{data.PR}}</td>
            </tr>
        </table>
        {% if data.special_attacks %}
         <h6>Special Abilities</h6>
         {% for entry in data.special_attacks %}
             <li>{{entry}}</li>
         {% endfor %}
        {% endif %}
        {% if data.spells %}
         <details class="border bg-body-secondary p-1">
         <summary>Spells</summary>
         {% for entry in data.spells %}
            {% if entry.proc_chance %}
              <img src="/static/spell_icons/{{entry.icon}}.png">  <a href="{{url_for('spell_detail', spell_id=entry.spell_id)}}" data-url="{{entry.spell_id}}" class="spell-tooltip-link">{{entry.spell_name}}</a> ({{entry.spell_type}} {{entry.proc_chance}}% chance)<br>
            {% else %}
              <img src="/static/spell_icons/{{entry.icon}}.png">  <a href="{{url_for('spell_detail', spell_id=entry.spell_id)}}" data-url="{{entry.spell_id}}" class="spell-tooltip-link">{{entry.spell_name}}</a> ({{entry.spell_type}})<br>
            {% endif %}
        {% endfor %}
        </details>
       {% endif %}
        <br><a href="{{url_for('npc_raw', npc_id=data.id)}}">Raw Data</a>
</div></div>
<div style="display: flex; justify-content: center;">
<div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="width: 1325px;" id="zone_links">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="loot-tab" data-bs-toggle="tab" href="#loot" role="tab" aria-controls="loot" aria-selected="true">Loot Drops</a>
        </li>
        {% if data.merch %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="merch-tab" data-bs-toggle="tab" href="#merch" role="tab" aria-controls="merch" aria-selected="false">Merchant Items</a>
        </li>
        {% endif %}

        {% if data.spawn_groups %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="spawns-tab" data-bs-toggle="tab" href="#spawns" role="tab" aria-controls="spawns" aria-selected="false">Spawn Points</a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabsContent">
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary show active" id="loot" role="tabpanel" aria-labelledby="loot-tab">
            {% for entry in data['loot_lists'] %}
                <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" id="{{entry}}">
                    <h6>{{entry}} - Probability: {{data['loot_lists'][entry]['probability']|int}}% - {{data['loot_lists'][entry]['mindrop']}} to {{data['loot_lists'][entry]['droplimit']}} drops</h6>
                        {% for sub_entry in data['loot_lists'][entry]['items'] %}
                        <img src="/static/item_icons/item_{{sub_entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=sub_entry.item_id)}}" data-url="{{sub_entry.item_id}}" class="tooltip-link">{{sub_entry.item_name}}</a> {{sub_entry.probability|int}}% Chance<br>
                        {% endfor %}
                    </div><br>
            {% endfor %}

        </div>
        {% if data['merch'] %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="merch" role="tabpanel" aria-labelledby="merch-tab">
            {% for entry in data['merch'] %}
              <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><br>
            {% endfor %}
        </div>
        {% endif %}
        {% if data['spawn_groups'] %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="spawns" role="tabpanel" aria-labelledby="spawns-tab">
            {% for entry in data['spawn_groups'] %}
              <li>{{entry.name}}:: {{entry.x * -1}}, {{entry.y * -1}}, {{entry.z}} :: {{entry.respawn}}s respawn :: <abbr title="spawngroupID: {{entry.group_id}}, spawn2ID: {{entry.spawn_id}}">Spawn Info</abbr></li>
              <ul>
              {% for subentry in entry.spawn_npcs  %}
                  <li><a href="{{url_for('npc_detail', npc_id=subentry.npc_id)}}">{{subentry.npc_name}}</a> ({{subentry.chance}}% chance)</li>
              {% endfor %}
              </ul>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div></div>
{% endif %}
{% endblock %}