{% extends "layout.html" %}
{% block body %}
<center><h2>Select Pet Class</h2></center>
<div style="display: flex; justify-content: center;">
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="beastlord">
        <a href="{{url_for('pets.pet_listing_result', class_id=15)}}"><center><img src="/static/monograms/15.gif"></center></a><br>
        Beastlord
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="cleric">
        <a href="{{url_for('pets.pet_listing_result', class_id=2)}}"><center><img src="/static/monograms/2.gif"></center></a><br>
        Cleric
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="druid">
        <a href="{{url_for('pets.pet_listing_result', class_id=6)}}"><center><img src="/static/monograms/6.gif"></center></a><br>
        Druid
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="enchanter">
        <a href="{{url_for('pets.pet_listing_result', class_id=14)}}"><center><img src="/static/monograms/14.gif"></center></a><br>
        Enchanter
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="magician">
        <a href="{{url_for('pets.pet_listing_result', class_id=13)}}"><center><img src="/static/monograms/13.gif"></center></a><br>
        Magician
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="necromancer">
        <a href="{{url_for('pets.pet_listing_result', class_id=11)}}"><center><img src="/static/monograms/11.gif"></center></a><br>
        Necromancer
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="shadowknight">
        <a href="{{url_for('pets.pet_listing_result', class_id=5)}}"><center><img src="/static/monograms/5.gif"></center></a><br>
        Shadow Knight
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="shaman">
        <a href="{{url_for('pets.pet_listing_result', class_id=10)}}"><center><img src="/static/monograms/10.gif"></center></a><br>
        Shaman
    </div>
    <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="wizard">
        <a href="{{url_for('pets.pet_listing_result', class_id=12)}}"><center><img src="/static/monograms/12.gif"></center></a><br>
        Wizard
    </div>
</div>
{% endblock %}