{% extends "layout.html" %}
{% block body %}
<script>
window.onload = doStuff;

function doStuff() {
    var form = document.getElementById("demoForm");
    form.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent default form submission
            form.submit(); // Manually submit the form
        }
    });
}
</script>
<script>
$(document).ready(function() {

    $('textarea').keypress(function(event) {

        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
});
</script>
<form actions="{{ url_for('spell_search') }}" method="post" class="add-entry" id="demoForm">
    Spell Name (partial allowed): <textarea rows="1" class="nameentry" name="spell_name"></textarea><br><br>
<input type="submit" value="Search">
</form>
{% endblock %}