{% extends "layout.html" %}
{% block body %}
{% if data is none %}
<h2>Spell Data for this Spell ID not found</h2>
{% else %}
<center><h2>{{data.name}}</h2></center>
<br>
<div style="display: flex; justify-content: center;">
<div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="spell_slots">
<h3>Spell Effects</h3>
<table>
    {% for entry in slots.keys() %}
    {% if slots[entry]['desc'] is not none %}
    <tr>
        <td>
            <abbr title="spa={{slots[entry]['spa']}}, base_value={{slots[entry]['base_value']}}, max={{slots[entry]['max']}}, limit_value={{slots[entry]['limit_value']}}, formula={{slots[entry]['formula']}}">{{entry.replace('_', '')}}</abbr></td>
        <td>{{slots[entry]['desc']|safe}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
    <br><br>
    {% if data.recourse_slots %}
    <h5>Recourse: <a href="{{url_for('spell_detail', spell_id=data.recourse_base.id)}}">{{data.recourse_base.name}}</a></h5>
    <table>
    {% for entry in data.recourse_slots.keys() %}
    {% if data.recourse_slots[entry]['desc'] is not none %}
    <tr>
        <td>
            <abbr title="spa={{data.recourse_slots[entry]['spa']}}, base_value={{data.recourse_slots[entry]['base_value']}}, max={{data.recourse_slots[entry]['max']}}, limit_value={{data.recourse_slots[entry]['limit_value']}}, formula={{data.recourse_slots[entry]['formula']}}">{{entry.replace('_', '')}}</abbr></td>
        <td>{{data.recourse_slots[entry]['desc']|safe}}</td>
    </tr>
    {% endif %}
    {% endfor %}
        </table>
    {% endif %}
</div>
<div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-left: 25px;" id="spell_extra">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="basic-tab" data-bs-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Basic Data</a>
        </li>
        {% if data.clicks %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="click-tab" data-bs-toggle="tab" href="#click" role="tab" aria-controls="click" aria-selected="false">Click Effect On</a>
        </li>
        {% endif %}
        {% if data.procs %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="proc-tab" data-bs-toggle="tab" href="#proc" role="tab" aria-controls="proc" aria-selected="false">Proc Effect On</a>
        </li>
        {% endif %}
        {% if data.focus %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="focus-tab" data-bs-toggle="tab" href="#focus" role="tab" aria-controls="focus" aria-selected="false">Focus Effect On</a>
        </li>
        {% endif %}
        {% if data.worn %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="worn-tab" data-bs-toggle="tab" href="#worn" role="tab" aria-controls="worn" aria-selected="false">Worn Effect On</a>
        </li>
        {% endif %}
        {% if data.bard %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="bard-tab" data-bs-toggle="tab" href="#bard" role="tab" aria-controls="bard" aria-selected="false">Instrument Effect On</a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabsContent">
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
            <ul>
                {% if data.classes %}
                Classes<br>
                {% for entry in data.classes %}
                <li>{{entry}}</li>
                {% endfor %}
                {% endif %}
                <br><a href="{{url_for('spell_raw', spell_id=data.id)}}">Raw Data</a>
            </ul>
        </div>
        {% if data.clicks %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="click" role="tabpanel" aria-labelledby="click-tab">
            <ul>
                {% for entry in data.clicks %}
                <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><<br>

                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if data.procs %}
            <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="proc" role="tabpanel" aria-labelledby="proc-tab">
            <ul>
                {% for entry in data.procs %}
                <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><br>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if data.focus %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="focus" role="tabpanel" aria-labelledby="focus-tab">
            <ul>
                {% for entry in data.focus %}
                <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><br>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if data.worn %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="worn" role="tabpanel" aria-labelledby="worn-tab">
                <ul>
                {% for entry in data.worn %}
                <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><br>
                {% endfor %}
                </ul>
        </div>
        {% endif %}
        {% if data.bard %}
        <div class="tab-pane fade p-3 border-end border-bottom border-start bg-body-tertiary" id="bard" role="tabpanel" aria-labelledby="bard-tab">
            <dl>
                {% for entry in data.bard %}
                <img src="/static/item_icons/item_{{entry.icon}}.png">  <a href="{{url_for('item_detail', item_id=entry.item_id)}}" data-url="{{entry.item_id}}" class="tooltip-link">{{entry.item_name}}</a><br>
                {% endfor %}
            </dl>
        </div>
        {% endif %}
    </div>
</div></div>
<br>
<div style="display: flex; justify-content: center;">
<div class="border bg-body-tertiary p-3 mb-4 d-inline-block" id="spell_detail">
<h3>Spell Basic Data</h3>
<br>
<table style="width: 100%">
    <tr>
        <td><b>Name</b></td>
        <td>{{data.name}}</td>
        <td><b>Mana</b></td>
        <td>{{data.mana}}</td>
        <td><b>Skill</b></td>
        <td>{{data.skill}}</td>
    </tr>
    <tr>
        <td><b>Cast Time</b></td>
        <td>{{data.cast_time}} sec</td>
        <td><b>Recast Time</b></td>
        <td>{{data.recast_time}} sec</td>
        <td><b>Resist</b></td>
        <td>{{data.resist}}</td>
    </tr>
    <tr>
        <td><b>Range</b></td>
        <td>{{data.range}}</td>
        <td><b>AOE Range</b></td>
        <td>{{data.aoe_range}}</td>
        <td><b>Type</b></td>
        <td>{{data.target_type}}</td>
    </tr>
    {% if data.min_duration %}
    <tr>
        <td><b>Min. Duration</b></td>
        <td>{{data.min_duration}}</td>
        <td><b>Max. Duration</b></td>
        <td>{{data.max_duration}}</td>
        <td><td></td></td>
    </tr>
    {% endif %}
    <tr>
        <td style="word-wrap: break-word; max-width: 150px;"><b>Cast On You</b></td>
        <td>{{data.on_you}}</td>
        <td><b>Cast on Other</b></td>
        <td>Soandso{{data.on_other}}</td>
        <td><b>Fades</b></td>
        <td>{{data.on_fade}}</td>
    </tr>
</table>
</div>
</div>
{% endif %}
{% endblock %}