{% extends "layout.html" %}
{% block body %}
<script>
function checkSubmit(e) {
	if(e && e.keyCode == 13) {
		document.forms[0].submit();
	}
}
</script>
<script>
$(document).ready(function() {

    $('textarea').keypress(function(event) {

        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
});


</script>
<center><h3>Spell Listing</h3></center>
    <div style="display: flex; justify-content: center;">
        <div class="row">
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="warrior">
            <a href="{{url_for('spell_listing', class_id=1)}}"><center><img src="/static/monograms/1.gif"></a><br>
            Warrior</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="cleric">
            <a href="{{url_for('spell_listing', class_id=2)}}"><center><img src="/static/monograms/2.gif"></a><br>
            Cleric</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="paladin">
            <a href="{{url_for('spell_listing', class_id=3)}}"><center><img src="/static/monograms/3.gif"></a><br>
            Paladin</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="ranger">
            <a href="{{url_for('spell_listing', class_id=4)}}"><center><img src="/static/monograms/4.gif"></a><br>
            Ranger</center>
        </div>
            </div>
        <div class="row">
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="shadowknight">
            <a href="{{url_for('spell_listing', class_id=5)}}"><center><img src="/static/monograms/5.gif"></a><br>
            Shadow Knight</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="druid">
            <a href="{{url_for('spell_listing', class_id=6)}}"><center><img src="/static/monograms/6.gif"></a><br>
            Druid</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="monk">
            <a href="{{url_for('spell_listing', class_id=7)}}"><center><img src="/static/monograms/7.gif"></a><br>
            Monk</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="bard">
            <a href="{{url_for('spell_listing', class_id=8)}}"><center><img src="/static/monograms/8.gif"></a><br>
            Bard</center>
        </div></div>
        <div class="row">
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="rogue">
            <a href="{{url_for('spell_listing', class_id=9)}}"><center><img src="/static/monograms/9.gif"></a><br>
            Rogue</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="shaman">
            <a href="{{url_for('spell_listing', class_id=10)}}"><center><img src="/static/monograms/10.gif"></a><br>
            Shaman</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="necro">
            <a href="{{url_for('spell_listing', class_id=11)}}"><center><img src="/static/monograms/11.gif"></a><br>
            Necromancer</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="wizard">
            <a href="{{url_for('spell_listing', class_id=12)}}"><center><img src="/static/monograms/12.gif"></a><br>
            Wizard</center>
        </div></div>
        <div class="row">
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="magician">
            <a href="{{url_for('spell_listing', class_id=13)}}"><center><img src="/static/monograms/13.gif"></a><br>
            Magician</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="enchanter">
            <a href="{{url_for('spell_listing', class_id=14)}}"><center><img src="/static/monograms/14.gif"></a><br>
            Enchanter</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="beastlord">
            <a href="{{url_for('spell_listing', class_id=15)}}"><center><img src="/static/monograms/15.gif"></a><br>
            Beastlord</center>
        </div>
        <div class="border bg-body-tertiary p-3 mb-4 d-inline-block" style="margin-right: 25px;" id="berserker">
            <a href="{{url_for('spell_listing', class_id=16)}}"><center><img src="/static/monograms/16.gif"></a><br>
            Berserker</center>
        </div></div>
    </div>
{% endblock %}