{% extends "layout.html" %}
{% block body %}
<center><h3>User Home</h3></center>
<h4>Enhanced Item Search</h4>
<ul>
    <li><a href="{{url_for('armor_search_authorized')}}">Armor Search with sets</a></li>
    <li><a href="{{url_for('weapon_search_authorized')}}">Weapon Search with sets</a></li>
</ul>
<h4>Item Weight Sets</h4>
{% if not data.weights %}
No weight set yet!  <a href="{{url_for('create_weights_set')}}">Create One</a>
{% else %}
<ul>
    {% for entry in data.weights %}
    <li><a href="{{url_for('get_weights_set', wid=entry.wid)}}">{{entry.name}}</a> :: <a href="{{url_for('delete_weights_set', wid=entry.wid)}}">Delete</a></li>
    {% endfor %}
</ul>
{% if data.weights|length < 10 %}
    <a href="{{url_for('create_weights_set')}}">Create Weight Set</a>
{% endif %}
{% endif %}
<br><br>
<h4>Item Restrict Sets</h4>
{% if not data.restricts %}
No restrict set yet!  <a href="{{url_for('create_restrict_set')}}">Create One</a>
{% else %}
<ul>
    {% for entry in data.restricts %}
    <li><a href="{{url_for('get_restrict_set', rid=entry.rid)}}">{{entry.name}}</a> :: <a href="{{url_for('delete_restrict_set', rid=entry.rid)}}">Delete</a></li>
    {% endfor %}
</ul>
{% if data.restricts|length < 10 %}
    <a href="{{url_for('create_restrict_set')}}">Create Restrict Set</a>
{% endif %}
{% endif %}
<br><br>
<!-- NOTE: THIS FEATURE IS CURRENTLY DARK AS IT IS BEING CONSIDERED ON WHETHER IT IS APPROPRIATE FOR EQDB OR NOT -->
<!--
<h4>Gear Lists</h4>
{% if not data.gearlists %}
No gear lists yet!  <a href="{{url_for('create_gear_list')}}">Create One</a>
{% else %}
<ul>
    {% for entry in data.gearlists %}
    <li><a href="{{url_for('get_gear_list', glid=entry.glid)}}">{{entry.name}}</a> :: <a href="{{url_for('delete_gear_list', glid=entry.glid)}}">Delete</a></li>
    {% endfor %}
</ul>
{% if data.gearlists|length < 10 %}
    <a href="{{url_for('create_gear_list')}}">Create Gear List</a>
{% endif %}
{% endif %}
<br><br>
-->
{% endblock %}